# OS / IDE
**/.DS_Store

.vscode/
__pycache__/
*.py[cod]

# Python env
.venv/
env/
venv/

# Django
db.sqlite3
/staticfiles/
media/
*.log

# Migrations cache
**/migrations/__pycache__/

# Pipenv / Poetry caches
*.pyc
.pytest_cache/
